*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
    border:solid 5px #5A2F0C;
    margin: 10px 50px 50px 50px;
    background-color: white;
    padding: 20px;

}

div img{
    width: 250px;;
}
.text{
    margin: auto;
    justify-content: center;
    color: #5A2F0C;
}

.titolo h2{
    font-size: 48px;
    color:#5A2F0C;
}

.titolo{
    text-align: center;
}

.img2{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer img{
   width: 100%;
}

main{
    background-color: #6C95C9;
}
